.page {
    line-height: 30px;
    overflow: hidden;
    font-size: 12px;
    line-height: 17px;

    @media (min-width:992px) {
        font-size: 14px;
        line-height: 21px;
    }

    &.white {
        color: #fff;
    }
}